# Flask and SQL

### Introduction

Now that we understnad a bit about how to setup flask, the next step is to connect flask to our database.  That's what we'll explore in this lesson.

### Getting our Data

We can quickly get some data and load it into a database with the following.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/connecting-sql-reading/master/nhl_players.csv"
df = pd.read_csv(url)

In [3]:
import sqlite3
conn = sqlite3.connect('nhl.db')

In [4]:
df.to_sql('players', conn, index = False)

/Users/jeff/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute('select * from players where id = 0;')
cursor.fetchone()

(0,
 0,
 'Connor Bunnaman',
 21,
 '6\' 1"',
 '207 lbs',
 'L',
 'Guelph, ON',
 '04/16/98',
 82)

So, now the idea is that we can use SQL to find the appropriate information for the user.  A user can reach an api with  `/nhl/players`, and then we will make a SQL call to return all of the players.

### Seeing it in Action

```python
# application.py
import sqlite3
from flask import Flask, jsonify

app = Flask(__name__)

@app.route('/nhl/players/')
def players():
    conn = sqlite3.connect('nhl.db')
    cursor = conn.cursor()
    cursor.execute('select * from players;')
    players = cursor.fetchall()
    return jsonify(players)

app.run(debug = True)
```

Then from the command line run the following.

`python application.py`

And if we visit, `/nhl/players/`, we see the following:

<img src="./nhl_players_json.png" width="30%">

So we get a list of our records.

### The show route

Now if we think of an API, we can also request information of a single member of the resource: here a single player.  We do this through, something like the following:

`/nhl/players/1`

And then from here, the api returns the player with id = 1.  Ok, let's see how we can set this up.  We add another route that looks like the following:

```python
@app.route('/nhl/players/<id>')
def show_player(player_id):
    conn = sqlite3.connect('nhl.db')
    cursor = conn.cursor()
    cursor.execute('select * from players where id = ?;', (player_id,))
    return cursor.fetchone()
```

So we add a new route `/nhl/players/<id>`.  By placing the `<id>` we are saying that this part of the route is dynamic.  Whatever value the user passes through is that passed as an argument to the `show_player` function as the player id.

So if the user visits `/nhl/players/1`, then `show_player` is called with `player_id` equal to 1.  Then we execute the sql function that finds the player with the id of the `player_id`.  This record is then returned.

<img src="./sean_coots.png" width="40%">

### Summary

In this lesson, we saw how to setup a flask API with SQL.  We did so by setting up the index route, which returns a list of all of the records, and the show route which returns a single record.  In each case, we set up the mechanism that triggers the appropriate call to our database.

With the show route, where we select a single record, there are a couple of steps involved.  The first is to allow the user to make dynamic requests to our route by specifying the following:

`@app.route('/nhl/players/<id>')`

Then, we take the id value (anything after `/nhl/players/`) and that becomes the argument to our function (`player_id`).  We use that player id to return the correct player information from the api.

In [16]:
def show_player(player_id):
    conn = sqlite3.connect('nhl.db')
    cursor = conn.cursor()
    cursor.execute('select * from players where id = ?;', (player_id,))
    return jsonify(cursor.fetchone())

### Resources

[Flask Tutorial](http://flask.palletsprojects.com/en/0.12.x/tutorial/setup/)